
.photo {
	min-height: 625;
	max-height: 625;
	width : 325;

}

.glyphicon-blue {
	color: #1db5cc;

}

.brand {
	color :#1db5cc;

}

.carousel-side-clear {
	background-color: rgba(255,255,255,0.0) !important;
}

.navbar-design {
	border-bottom-style: solid;
}


.row-body {
	position  : relative; 

	top       : 100;

}

.row-inner {

	max-width: 1200px;

}

.testimonial {

	color: #353a43;
}

.testimonial-col {
	min-height: 250px !important;
}

.rounded {
	border-radius : 50% 50% 50% 50%;

	position: relative;

}

.popover {
	min-width: 80%;


}

.row-white {
	background :white ;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #353a43;
	color : #1db5cc;
}

.row-full {
	height: 823px;
}

.row-white-smoke {
	background: #f4f3f4;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #353a43;

	color :#353a43;

}

.row-blue {
	background: #1db5cc;

	color     : white;
}

.row-light-gray {
	background: #c8cacb;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #353a43;
	color     : #353a43;
}

.navpill-blue {
	color: #1db5cc;

}

.nav-pill-gray {
	color: #888e97;

}
.spaced-pills {
	margin-left  :  25px !important;
	margin-right : 25px !important;
}

.centered-pills {  
    text-align: center
}
.centered-pills ul.nav-pills {
    display: inline-block
}
.centered-pills li {
    display: inline
}
.centered-pills a {
    float: left
}
* html .centered-pills ul.nav-pills, *+html .centered-pills ul.nav-pills {
    display: inline
}

.nav-pills>li.active>a,.nav-pills>li.active>a:focus,.nav-pills>li.active>a:hover{color:#353a43 !important;fill:#1db5cc;background-color:#f4f3f4 !important; border:solid 2px #1db5cc;}

.glyphicon-magnifying-glass. {
		
}