<!DOCTYPE <html>
<head>
    <title>nOCD</title>

<!--Linking Style Sheets -->
<link rel="stylesheet" type="text/css" href="/resources/css/home.css">

<!--Including Scripts for Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    
</head>

<body>
<div class="container-fluid">
    
    {%from 'macros.html' import navbar%}
    {{ navbar() }}


    <div class="row row-body">
    	<div class="row row-inner">
    		<div class="col col-xs-12">
				<h2>Congratulations on verifying your email! You may now begin to use the nOCD portal. However, some features are not enabled yet. Your account is going through intensive verification in order to ensure that our users are protected and given the best care possible. You will recieve a confirmation email when your account verification is complete.</h2>
			</div>
		</div>
</div>
</div>
</body>
</html>