<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <title>nOCD</title>

<!--Linking Style Sheets -->
<link rel="stylesheet" type="text/css" href="/stylesheets/home.css">

<!--Including Scripts for Bootstrap -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    
<script type="text/javascript">
$(document).ready(function(){
    $('[data-toggle="popover"]').popover(); 
});


</script>



</head>
<body>

<div class="container-fluid" align="center" style="font-style:calibri;">

      <!-- Navigation Bar Row  -->
    <div class="row">
        <div class="col-xs-12">
            <nav class="navbar navbar-fixed-top" style="border-bottom: 2px solid gray; background:rgba(255,255,255,0.92); color: #1db5cc;">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand brand" href="/"><span><strong>n</strong></span>OCD</a>
                    </div>
                    <div>
                        <ul class="nav navbar-nav navbar-right nav-pills navpills-blue">
                            <li><a href="/signup" class="navpill-blue">Sign Up</a></li>
                            <li><a href="/login" class="navpill-blue">Log In</a></li> 
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>


    <!-- Fun Anouncement Area -->
    <div class="row row-body row-white" style="border-style:none;">
        <div class="row row-inner">
            <div class="col-xs-12">
                <div class="container-fluid">
                    <h1>Interesting Updates</h1>
                    <h3>We are progressing rapidly with     product development</h3>
                </div>
            </div>
        </div>
      <div class="row row-inner" style="height:50px">

      </div>
    </div>


    <!-- Info Bar about nOCD with Photos of App  -->
    <div class="row row-body row-blue">
        <div class="row row-inner">
            <div class="col-md-6" align="left">
                <h2>nOCD is a mobile platform that allows for the self-treatment and monitoring of Obsessive Compulsive Disorder (OCD) symptoms.</h2>
                <p>
                We are Taking advantage of the cutting edge technology in the new generation of smartwatches to bring you on-the-go Exposure Response Prevention treatment and keep you synced with your specialists from anywhere in the world.
                </p>
            </div>
            <div class="col-md-6" align="center">
                <img src="/stylesheets/pictures/home/threeSomeClearOverlap.png" alt="Next Level Treatment">
            </div>
        </div>
    </div>


   <!-- Testimonials -->
    <div class="row row-body row-white- row-full">
        <div style="height:100px">
            <h1 style="  color : #1db5cc;">
            Testimonials
            </h1>
        </div>
        <div class="row row-inner" >
            <div class="col-xs-1" >
                
            </div>
            <div class="col-xs-10" >
                <div id="testimonialCarousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="item active" style="min-height:723px">
                            <div class="row">
                                <div class="col-md-1">

                                </div>
                                <div class="col-md-2">
                                    <figure> 
                                        <img class="rounded" src="/stylesheets/pictures/home/eLabkovsky.png">
                                        <figcaption class="photoCaption">Elena Labkovsky</figcaption>
                                    </figure>
                                </div>
                                <div class="col-md-8" align="left">
                                    <p class="testimonial">
                                        "My name is Elena B. Labkovsky. I have had an extensive training in electronic technology and psychology which resulted in receiving a master’s degree in electronic technology and a doctoral degree in psychology.
                                    </p>
                                    <p class="testimonial">            
                                        Currently I am working as a clinical neuropsychologist in a private clinic (AFG Guidance Center) where I evaluate patients with cognitive, emotional, and behavioral conditions and disorders, as well as develop and implement treatment interventions for them. I also work as a researcher at Northwestern University, Psychology Department, Institute of Neuroscience.
                                    </p>
                                    <p class="testimonial">             
                                        In both places I extensively use apps for diagnosis, treatment, and experiments. I find apps extremely useful and effective in achieving desired results while treating psychological conditions.
                                    </p>
                                    <p class="testimonial">             
                                        As a practicing psychologist, widely implementing techniques based on providing feedback to patients, I would like to emphasize the importance of the feedback component as one of the key components in nOCD. In research and in my clinical practice,  I've noticed that it is crucial for patients with psychological/behavioral issues, especially conditions like OCD, to be getting objective feedback. nOCD allows that.  Just this feature itself makes nOCD a potentially effective and promising therapeutic instrument.
                                    </p>
                                    <p class="testimonial">             
                                        As stated in many professional sources, the most effective approach to treating OCD is “Exposure Response Prevention,” – a technique within Cognitive Behavioral Therapy. From this perspective the nOCD app can be a very effective tool for patients struggling with OCD.
                                    </p>
                                    <p class="testimonial">            
                                        Another important feature of nOCD is providing discreet self-therapy on the go, while simultaneously collecting objective data about the users’ episodes and overall condition. This feature makes possible to provide continuing (non-stop) treatment and relieving OCD symptoms.  The collected objective data can be extremely useful for the patient him/herself and also for the clinician developing treatment for the patient, as it allows to see a bigger and objective picture and tailor the patient’s treatment based on these data."
                                    </p>
                                </div>
                                <div class="col-md-1">

                                </div>
                            </div>
                        </div>
                        <div class="item " style="min-height:723px">
                            <div class="row">
                                <div class="col-md-1">

                                </div>
                                <div class="col-md-2">
                                    <figure> 
                                        <img class="rounded" src="/stylesheets/pictures/home/tNewendorp.png">
                                        <figcaption class="photoCaption">Taylor Newendorp</figcaption>
                                    </figure>
                                </div>
                                <div class="col-md-8" align="left">
                                    <p class="testimonial">
                                        "nOCD looks absolutely amazing! I think it has the potential to really help people with OCD practice more effective exposures outside of therapy sessions, which I know can translate into faster recovery and increased confidence in managing OCD symptoms. Kudos to the nOCD team for developing such a great app!
 
                                        I do specialize in treating OCD and use very straightforward CBT and ERP techniques in helping my clientele. Prior to opening my practice a few years ago, I spent over 6 years as a clinical supervisor in the Center for Anxiety and OCD at Alexian Brothers Hospital in Hoffman Estates, and I knew when I opened my practice I wanted to continue to create specialized treatment for people with OCD and Anxiety Disorders. If you want any more info on me, you can check out my website: www.chicagocounselingcenter.com"
                                    </p>
                                </div>
                                <div class="col-md-1">

                                </div>
                            </div>
                        </div>
                        <div class="item " style="min-height:723px">
                            <div class="row">
                                <div class="col-md-1">

                                </div>
                                <div class="col-md-2">
                                    <figure> 
                                        <img class="rounded" src="/stylesheets/pictures/home/lKChapman.png">
                                        <figcaption class="photoCaption">L. Kevin Chapman</figcaption>
                                    </figure>
                                </div>
                                <div class="col-md-8" align="left">
                                    <p class="testimonial">
                                        "nOCD is quite a remarkable story and quite a remarkable use of technology. As an aside, in addition to OCD research/treatment, I am a huge fan of incorporating technology into anxiety and related treatments."
                                    </p>
                                </div>
                                <div class="col-md-1">

                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-side-clear left carousel-control" style="background:white; postion:relative; top:0;" href="#testimonialCarousel" role="button" data-slide="prev">
                                <span class="glyphicon-blue glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-side-clear right carousel-control" style="background: white;  postion:relative; top:0;"href="#testimonialCarousel" role="button" data-slide="next">
                        <span class="glyphicon-blue glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="col-xs-1" >
                
            </div>
        </div>
    </div> 


      <!-- Phone Walk through with Tabs -->
    <div class="row row-body row-white-smoke row-full" >
        <div class="row" style="min-height:100px">

        </div>
        <div class="row row-inner">
            <div class="col-xs-4" align="left">
                <ul class="nav nav-pills nav-stacked" style="display: inline-block; position:relative; top:218; font-size:20px;" align="left">
                    <li class="active" >
                        <a data-toggle="pill" class="nav-pill-gray" href="#phoneHomeScreen">Your Treatment In One Place</a></li>
                    <li><a data-toggle="pill" class="nav-pill-gray" href="#watchEpisodeScreen">Easy Discreet Use</a></li>
                    <li><a data-toggle="pill" class="nav-pill-gray" href="#phoneERPDataScreen">Informative Data</a></li>
                    <li><a data-toggle="pill" class="nav-pill-gray" href="#phoneERPHWScreen">Personalized ERP HW</a></li>
                </ul>
            </div>
            <div class="col-xs-8">
                <div class="tab-content" >
                    <div id="phoneHomeScreen" class="tab-pane fade in active">
                        <img class="photo"class="photo"src="stylesheets/pictures/home/menuScreenClear.png" alt="Easily access all your data">
                    </div>
                    <div id="watchEpisodeScreen" class="tab-pane fade">
                        <img class="photo"class="photo"src="stylesheets/pictures/home/menuScreenClear.png" alt="Easily access all your data">
                    </div>
                    <div id="phoneERPDataScreen" class="tab-pane fade">
                        <div id="walkThroughCarousel" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <img class="photo"src="/stylesheets/pictures/home/myDataClear.png" >
                                </div>

                                <div class="item">
                                    <img class="photo"src="/stylesheets/pictures/home/frequencyClear.png" >
                                </div>

                                <div class="item">
                                    <img class="photo"src="/stylesheets/pictures/home/intensityClear.png">
                                </div>

                                <div class="item">
                                    <img class="photo"src="/stylesheets/pictures/home/placesClear.png" >
                                </div>
                                <div class="item">
                                    <img class="photo"src="/stylesheets/pictures/home/timeOfDayClear.png" >
                                </div>

                                <div class="item">
                                    <img class="photo"src="/stylesheets/pictures/home/lengthClear.png" >
                                </div>

                                <div class="item">
                                    <img class="photo"src="/stylesheets/pictures/home/timeToNOCDClear.png">
                                </div>
                                <div class="item">
                                    <img class="photo"src="/stylesheets/pictures/home/resistanceTimesClear.png" >
                                </div>                              
                            </div>

                            <!-- Left and right controls -->
                            <a class="carousel-side-clear left carousel-control" style="background:white;" href="#walkThroughCarousel" role="button" data-slide="prev">
                                <span class="glyphicon-blue glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-side-clear right carousel-control" style="background: white;"href="walkThroughCarousel" role="button" data-slide="next">
                                <span class="glyphicon-blue glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                    <div id="phoneERPHWScreen" class="tab-pane fade">
                        <img class="photo"src="/stylesheets/pictures/home/schedulingClear.png">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- About Us / The Team / Why nOCD / Learn More -->
    <div class="row row-body row-white row-full">
        <div class="row row-inner" >
            <div class="col-xs-3" align="left">
          <ul class="nav nav-pills nav-stacked" style="display: inline-block; position:relative; top:218; font-size:20px;" align="left">                    
            <li class="active"><a class="nav-pill-gray" data-toggle="pill" href="#aboutUs">About Us</a></li>
                    <li><a  class="nav-pill-gray" data-toggle="pill" href="#whyNocd">Why nOCD</a></li>
                    <li><a class="nav-pill-gray" data-toggle="pill" href="#theTeam">The Team</a></li>
                </ul>
            </div>

            <div class="col-xs-9">
                <div class="tab-content" style="position:relative; top:218;">
                    <div id="aboutUs" class="tab-pane fade in active">
                        <h3>About nOCD</h3>
                        <p>Video about nOCD</p>
                    </div>
                    <div id="whyNocd" class="tab-pane fade">
                        <h3>Why nOCD</h3>
                        <p>Some Stuff about why nOCD</p>
                    </div>
                    <div id="theTeam" class="tab-pane fade">
                        <h3>The Team</h3>
                        <p>Stephen Daniel Ethan</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Twitter and contact info -->
    <div class="row row-body row-blue" style="min-height:480px;">
      <div class="row row-inner">
        <div class="col-md-5" align="left">
            <h3 style="color:#353a43" align="left">nOCD</h3>
            <p>nOCD is evolving and improving treatment for OCD patients bringing Exposure Respnse Prevention Therapy and advanced data tracking through their phones and smartwatches. Using the apple watch and iPhone nOCD is able to provide on the go, discreet, and effective treatment for nOCD users. nOCD's therapist portal allows users to connect with their therapists and work through their treatment together.</p>
        </div>
        <div class="col-md-3" align="center">
            <h3 style="color:#353a43">Recent Tweets</h3>
            <a class="twitter-timeline" href="https://twitter.com/treatmyocd" data-widget-id="637008736951754753">Tweets by @treatmyocd</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <div class="col-md-4" align="left">
            <h3 style="color:#353a43" align="center">Contact Information</h3>
        </div
      </div>
    </div>

</div>


</body>
</html>