</<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!--Linking Style Sheets -->
<link rel="stylesheet" type="text/css" href="/stylesheets/home.css">

<script type="text/javascript" href="js/jq.js"></script>

	<title>
		

	</title>

</head>


<body>
<div class="container-fluid" >
  
    {%from 'macros.html' import navbar%}
    {{ navbar() }}



    <div class="row row-body">
    	<div class="col-xs-4">
    	</div>
    	<div class="col-xs-4">
			{%from "forms.html" import loginForm %}
			{{loginForm(form.email, form.password, form,error)}}
		</div>
		<div class="col-xs-4">
    	</div>
	</div>
</div>

</body>



</html>