                                    <div class="col-xs-4" style="overflow-y: scroll;min-height:500px;max-height: 500px;">          
                                        <ul class="nav nav-pills nav-stacked sub-nav"  align="left">
                                            {% for notePill in notePills %}
                                                {{notePill}}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="col-xs-8" >
                                        <div class="tab-content">
                                            {% for notePane in notePanes%}                        
                                                {{notePane}}
                                            {% endfor %}
                                        </div>
                                    </div>