<!DOCTYPE html>
<html>
<head>
	<title>nOCD</title>
	<!--Linking Style Sheets -->
<link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/patientPage.css">
<script type="text/javascript" src="/stylesheets/Chart.js"></script>
<!--Including Scripts for Bootstrap -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<!-- Including stylesheets for fontawesome -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <script type="text/javascript" src="/stylesheets/bootstrap-wysiwyg.min.js"></script>

<script type="text/javascript" src="/stylesheets/jquery.hotkeys.js"></script>

<link href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">

<!-- Linking Google charts -->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <script>
    // Load the Visualization API and the piechart package.
      google.load('visualization', '1.0', {'packages':['corechart']});
      
      // Set a callback to run when the Google Visualization API is loaded.
      google.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table, 
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {
        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Episode');
        data.addColumn('number', 'Episodes');
        data.addRows([
            ['What if I forgot to lock the door', 3],
            ['What if I forgot to turn off the stove', 1],
            ['What if I forgot to lock the window', 1], 
            ['What if I forgot to turn off the lights', 1],
          ]);

            // Set chart options
        var options = {'title':"Breakdown of {{patient.firstName}}'s Episodes",
                     'width':600,
                     'height':500};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
    }

var currMonth={{currMonth}};
    function updatePills () {
        $.get ('/getNotePane')
        .done(function(data){
            console.log('[ppeeepepep');
            $('#notePanes').html(data);
            console.log('[ppooooeeepepep');
        }).fail(function () {
        });
    }
    /*
    function bindPops() {
        $('[data-toggle="popovers"]').popover({
        placement: 'top', 
        html:true,}); 
    $('[data-toggle="popover"]').popover({
        trigger:'hover',
        html:true,
    });

    }*/

    $(document).ready(function(){
        $('[data-toggle="popovers"]').popover({
        placement: 'top', 
        html:true,}); 
    $('[data-toggle="popover"]').popover({
        trigger:'hover',
        html:true,
    });
    /*
    $('#scheduleTab').on('click', '.addERP', function(e) {

        $('[data-toggle="popovers"]').popover({
        placement: 'top', 
        html:true,}); 
    $('[data-toggle="popover"]').popover({
        trigger:'hover',
        html:true,
    });

    });

    /*
    $('#scheduleTab').on('submit','.addERP', function(e) {
        console.log('nooooiiissseee');
        e.preventDefault();
        
        var theForm= $(this).serialize();
        $.post('/addERPHomework', theForm)
        .done(function(data){
            console.log('noseee');
            $('#scheduleTab').html(data);
            setTimeout(bindPops, 1000);
        }).fail(function () {
            console.log('noeee');
        });

    });
    */
    $('#addNote').delegate('#saveNote','submit', function(e) {
        console.log('noooo');
        e.preventDefault();
        var temp=$('#noteText').html();
        console.log(temp);
        $('#note').val(temp);
        var theForm= $('#saveNote').serialize();
        $.post('/saveNote', theForm)
        .done(function(data){

            $('#addNote').html(data);
            setTimeout(updatePills, 1000);
        }).fail(function () {
            $('#theNoteError').show();
            $('#theNoteError').html("<h3>Oops Something went wrong please try again</h3>")
        });

    });


    });



    function clearNote() {
        $('#noteID').val('');
        $('#note').val('');
        $('#theNoteError').hide();
        $('#theNoteSuccess').hide();
    }

    function calNavLeft() {
        currMonth = currMonth-1;
        $('.calendarRow').hide();
        $('.monthCal'+currMonth).show();
    }
    function calNavRight() {
        currMonth = currMonth+1;
        $('.calendarRow').hide();
        $('.monthCal'+currMonth).show();
    }
    function revealGeneral() {
        var data = {
            labels: ["January", "February", "March", "April", "May", "June", "July"],
            datasets: [
            {
            label: "My First dataset",
            fillColor: "rgba(220,220,220,0.2)",
            strokeColor: "rgba(220,220,220,1)",
            pointColor: "rgba(220,220,220,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
            data: [65, 59, 80, 81, 56, 55, 40]
            },
            {
            label: "My Second dataset",
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            data: [28, 48, 40, 19, 86, 27, 90]
            }
            ]
            };
        var ctx=document.getElementById('overviewChart').getContext('2d');
        theChart=new Chart(ctx).Line(data);

    }
    </script>


</head>
<body>
<div class="container-fluid">
 
    {%from 'macros.html' import navbarLoggedIn%}
    {{ navbarLoggedIn() }}


    <div class="row row-body">
        <div class="row row-inner">
            <div class="col-xs-4">
            </div>
            <div class="col-xs-7">
                <style type="text/css">
                td {
                    
                    font-size:20px;

                }
                th {
                    color:#353a43;
                    font-size:20px;

                }
                .black {
                    color: #353a43;
                }
                .blue {
                    color: #1db5cc;
                }
                </style>
                <table style="width:800px; background-color:white; border-collapse: separate;color:#c8cacb;">
                    <tr>
                        <th  colspan="2"> {{patient.name}}</th> 
                        <th>Next Appointment</th>
                        <th>Episodes</th>
                    </r>
                    <tr>
                        <td colspan="2">
                            {{patient.email}}
                        </td>
                        <td>
                            {{patient.nextAppointment}}
                        </td>
                        <td>
                            {{patient.episodes}}
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-xs-1">
            </div>
        </div>
        <div class="row row-inner">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-3" align="left">
                <ul class="nav nav-pills nav-stacked" style="position:relative; top: 50px;display: inline-block;font-size:20px;" align="left">
                    
                
                    <li class="active">
                        <a data-toggle="pill" class="nav-pill-gray" href="#scheduleTab">{{patient.firstName}}'s Schedule</a>
                    </li>
                    <li >
                        <a data-toggle="pill" class="nav-pill-gray" href="#manageERP">Manage {{patient.firstName}}'s ERP HW</a>
                    </li>
                    <li>
                        <a data-toggle="pill" class="nav-pill-gray" href="#dataTab">{{patient.firstName}}'s Data</a>
                    </li>
                    <li>
                        <a data-toggle="pill" class="nav-pill-gray" href="#myNotes">My Notes</a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-7">
                <div style="height:50px;">
                </div>
                <div class="tab-content content" >
                    <div id="scheduleTab" class="tab-pane fade in active">

                            {% for monthCal in monthCalendars %}
                                {{monthCal}}
                            {% endfor %}
                        
                    </div>
                    <div id="manageERP" class="tab-pane fade in">
                        <h1>Add ERP HW</h1>
                    </div>
                    <div id="dataTab" class="tab-pane fade in">
                        <ul class="nav nav-pills nav-justified sub-nav" align="left">
                            <li class="active">
                                <a data-toggle="pill" class="nav-pill-gray" href="#overviewGraph">Overview</a>
                            </li>
                            <li>
                                <a data-toggle="pill" class="nav-pill-gray" href="#breakdownList">ERP HW</a>
                            </li>
                            <li >
                                <a data-toggle="pill" class="nav-pill-gray" href="#obsessions">Heirarchy </a>
                            </li>
                        </ul>
                        <div class="tab-content" >
                            <div id="overviewGraph" class="tab-pane fade in active">
                                <div class="row dropped">
                                    <div class="col-xs-12">
                                        <div id="chart_div" style="width:400; height:300"></div>

                                    </div>
                                </div>                     
                            </div>
                            <div id="breakdownList" class="tab-pane fade in">
                            </div>
                            <div id="obsessions" class="tab-pane fade in">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <h4 align="center">Obsessions</h4>
                                        <ul class="nav nav-pills nav-stacked sub-nav"  align="left">
                                            {% for obsessionPill in obsessionPills %}
                                                {{obsessionPill}}
                                            {% endfor %}

                                        </ul>
                                    </div>
                                    <div class="col-xs-8">
                                        <div class="tab-content">
                                            {% for obsessionPane in obsessionPanes%}
                                        
                                                {{obsessionPane}}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div id="myNotes" class="tab-pane fade in">
                        <ul class="nav nav-pills nav-justified" >
                            <li class="active">
                                <a data-toggle="pill" class="nav-pill-gray" href="#myNotesList">Notes</a>
                            </li>
                            <li>
                                <a data-toggle="pill" class="nav-pill-gray" onclick="clearNote();" href="#addNote">New Note</a>
                            </li>
                        </ul>

                        <div class="tab-content " >
                            <div id="myNotesList" class="tab-pane fade in active">
                                <div id="notePanes"  class="row">
                                    <div class="col-xs-4" style="overflow-y: scroll;max-height: 300px;">          
                                        <ul class="nav nav-pills nav-stacked sub-nav"  align="left">
                                            {% for notePill in notePills %}
                                                {{notePill}}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="col-xs-8" >
                                        <div class="tab-content">
                                            {% for notePane in notePanes%}                        
                                                {{notePane}}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="addNote" class="tab-pane fade in" align="center">
 
                                {% from "forms.html" import EnterNoteForm%}
                                {{EnterNoteForm(noteForm, noteFormError)}}
                            </div>

                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-xs-1">
            </div>
        </div>



    </div>

</div>

</body>
</html>