<!DOCTYPE <html>
<head>
    <title>nOCD</title>

<!--Linking Style Sheets -->
<link rel="stylesheet" type="text/css" href="/stylesheets/home.css">

<!--Including Scripts for Bootstrap -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    
</head>

<body>
<div class="container-fluid">
	      <!-- Navigation Bar Row  -->
    <div class="row">
        <div class="col-xs-12">
            <nav class="navbar navbar-fixed-top" style="border-bottom: 2px solid gray; background:rgba(255,255,255,0.92); color: #1db5cc;">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand brand" href="/"><span><strong>n</strong></span>OCD</a>
                    </div>
                    <div>
                        <ul class="nav navbar-nav navbar-right nav-pills navpills-blue">
                            <li><a href="/therapistRegistration" class="navpill-blue">Sign Up</a></li>
                            <li><a href="/login" class="navpill-blue">Log In</a></li> 
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
<div class="row row-body">
	<p>Please verify your email.</p>
</div>
</div>
</body>
</html>

